In [4]:
import pandas as pd
from english_words import english_words_lower_alpha_set
import pandasql as ps
import re

words = pd.DataFrame(english_words_lower_alpha_set)

url = 'https://gist.githubusercontent.com/scholtes/94f3c0303ba6a7768b47583aff36654d/raw/d9cddf5e16140df9e14f19c2de76a0ef36fd2748/wordle-La.txt'


wordle_words = pd.read_csv(url,names=["words"])

words.rename(columns = {list(words)[0]: 'words'}, inplace = True)

words_filter = (words['words'].str.len() == 5)

words_df = words.loc[words_filter]

alphabet_list = ['a','b','c','d','e','d','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [41]:
guess_1_green_letter = ''
guess_1_green_letter = guess_1_green_letter.replace('-', '_')

guess_1_yellow = 'a-i--'
guess_1_yellow = '[' + guess_1_yellow.replace('-', '') + ']'


wordle_words = wordle_words[wordle_words['words'].str.contains('', regex=False)]

guess_1_yellow = 'a-i--'
# guess_1_yellow_query = guess_1_yellow.replace('-', '_')
guess_1_yellow_df = guess_1_yellow.replace('-','')
guess_1_yellow_df = re.sub(r'([a-z])(?!$)', r'\1,', guess_1_yellow_df)
guess_1_yellow_df = guess_1_yellow_df.split(",")
len(guess_1_yellow_df)

# cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

# for city in cities:
#     print(city)

for letters in guess_1_yellow_df:
    df = wordle_words[wordle_words['words'].str.contains(letters, regex=False)]

guess_2_yellow_df = ','.join(guess_1_yellow)
guess_2_yellow_df = guess_2_yellow_df.split(",")
guess_2_yellow_isin = '[' + guess_1_yellow.replace('-', '') + ']'

guess_1_yellow_df

['ai']

In [182]:
print('The word axiom will be used as an example.')
print('Please fill out green letters like this: -x--m')
print('If you didn\'t guess any green letters, just hit enter')
print('First Guess Green Letters >')
guess_1_green_letter = ''
guess_1_green_letter = guess_1_green_letter.replace('-', '_')

print('List yellow leters like this: a-i--')
print('First Guess Yellow Letters >')
guess_1_yellow = 'a-i--'
guess_1_yellow_query = guess_1_yellow.replace('-', '_')
# guess_1_yellow_df = guess_1_yellow.replace('-','')
guess_1_yellow_df = re.sub(r'([a-z])(?!$)', r'\1,', guess_1_yellow)
guess_1_yellow_df = guess_1_yellow_df.split(",")

print('List grey leters like this: xom')
print('First Guess grey Letters >')
guess_1_grey = 
guess_1_grey = re.sub(r'([a-z])(?!$)', r'\1,', guess_1_grey)
guess_1_grey = guess_1_grey.split(",")

The word axiom will be used as an example.
Please fill out green letters like this: -x--m
If you didn't guess any green letters, just hit enter
First Guess Green Letters >
List yellow leters like this: a-i--
First Guess Yellow Letters >
List grey leters like this: xom
First Guess grey Letters >

Empty DataFrame
Columns: [words]
Index: []

In [164]:
guess_1_yellow = 'a-i--'
guess_1_yellow_query = guess_1_yellow.replace('-', '_')
guess_1_yellow_df = guess_1_yellow.replace('-','')
guess_1_yellow_df = re.sub(r'([a-z])(?!$)', r'\1,', guess_1_yellow_df)
guess_1_yellow_df = guess_1_yellow_df.split(",")
words_df1_green 


q2 = """
    SELECT * 
    FROM words_df1_green
    WHERE words not like 'a%'
        AND words not like '__e__'
    """
words_df1_yellow_first_pass = ps.sqldf(q2, locals())

words_df1_yellow_first_pass.to_csv('words_df1_yellow_first_pass.csv')

In [175]:
def position_locater(cars):
  for i in cars:
    position = cars.find(i)
    print(position)

In [179]:
position_locater(guess_1_yellow)

In [200]:
guess_1_yellow = 'a-i--'
guess_1_yellow_df = ','.join(guess_1_yellow)
guess_1_yellow_df = guess_1_yellow_df.split(",")
guess_1_yellow_df

['a', '-', 'i', '-', '-']

In [21]:
# yellow_position_1 = 'WHERE words NOT LIKE ' + guess_1_yellow_df[0] + '____'
# query1 = f"""
#     SELECT * 
#     FROM words_df1_green
#     WHERE words NOT LIKE 'a____'
#     """
# words_yellow_df1 = ps.sqldf(query1, locals())
# # words_yellow_df1

In [249]:
guess_1_grey = 'bag'
guess_1_grey = '[' + guess_1_grey + ']'
second_guess_df = words_yellow_df1[~words_yellow_df1['words'].str.contains(guess_1_grey, regex=True)]
second_guess_df

      words
207   cello
223   check
224   cheek
225   cheer
226   chess
...     ...
2162  wrote
2164  wryly
2168  yield
2170  youth
2172  zesty

[1075 rows x 1 columns]

In [250]:
guess_1_grey

'[bag]'

In [252]:
guess_2_grey

'[bgel]'